*{
    box-sizing:border-box;
    margin:0;
}

/*While I was designing these grids, it has come to my mind that they actaully look
like Windows XP for some reasons. So I figured that to make a website that looks like Win XP*/
.warpper{
    display: grid;
    height: 100vh;
    background-color:#245DDA;
    grid-template-columns:  1.3fr 0.4fr 1.3fr;
    grid-template-rows: 1fr 0.8fr 1.2fr;
    gap: 15px 35px;
 }

/*So for this one it is like the cloud in the classic Windows XP desktop background.
The border makes the whole "cloud" more 3D :) */
 #box-one{
    background-color:white;
    border: 8mm ridge;
    border-radius: 40% 30% / 20% 50%;
    
}

/*For box 2-5, obviously I made them look like Windows logo in terms of shapes
color and layout*/
#box-two{
    background-color:#DE482B;
    border: 4mm outset black;
}

#box-three{
    background-color:#81C046;
    border: 4mm outset black;
}

#box-four{
    background-color:#3B77BC;
    grid-column:1/3;
    border: 4mm outset black;


}

#box-five{
    background-color:#FCCF03;
    border: 4mm inset black;
  
}

/*For box 6, I wanted to mimic that classic "start" button in XP at the bottom left side*/
#box-six{
    background-color: rgb(77, 182, 77);
    border: solid black;
    border-bottom-right-radius: 100px 100px;
    border-top-right-radius: 50px 100px;
}

/**/
#box-seven{
   
    background-color:#245DDA;
    border: 10mm outset;
    border-image: repeating-linear-gradient(30deg, #3B77BC, white,#3B77BC 20px) 60;
    
}
/*For this one I wanted to replicate the pop-up windows in XP, so I changed the shape and color of this box according
to that in Windows 98 and XP.*/
#box-eight{
   
    background-color:grey;
    border: 5mm outset;
    border-block-start-color: #012d8d; writing-mode: horizontal-tb;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 1px;
    border-top-left-radius: 5px 50px;
    border-top-right-radius: 5px 50px;
}
/*This is for the fonts in box 6*/
h1 {
    font-size: 40px;
    text-align: center;
    text-shadow: #FC0 1px 0 10px;
    color:white
  }

/*This is for the box 6 as well, in order to center the font*/
.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
  }